* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background-color: aqua;
    padding: 10px;
    font-size: 23px;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: 
        "header  header  header"
        "nav     nav     nav"
        "section section ads"
        "footer  footer  footer";
}

.contenedor .header {
    background-color: rgb(203, 167, 139);
    grid-area: header;
}

.contenedor .nav {
    background-color: yellow;
    grid-area: nav;
}

.contenedor .section {
    background-color: rgb(118, 194, 208);
    grid-area: section;
    display: flex;
    justify-content: space-between; /* Distribuye las cajas a los extremos */
    align-items: center;
}

.contenedor .ads {
    background-color: rgb(77, 207, 73);
    grid-area: ads;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.box {
    background-color: white;
    color: black;
    padding: 20px;
    width: 45%; /* Ajustamos el ancho para que las dos cajas quepan una al lado de la otra */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-box {
    background-color: blue;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.contenedor .footer {
    background-color: rgb(226, 142, 79);
    grid-area: footer;
    color: white;
}

.contenedor .footer span {
    color: purple;
    font-weight: bold;
}

